@forward 'globals';
@import 'mixins/typography';

body{
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  align-items: center;
}

// Header
.header{
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark);
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 2rem 0;
  margin-bottom: 3rem;
}

.logo {
 @include text_logo;
}

header ul{
  display: flex;
  gap: 5rem;
}

header ul li a{
  @include text_secondary;
}

// Main section 

.section_main{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.image_main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 1rem;
}

.title_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_main h1{
  @include text_hero;
  margin-bottom: 1rem;
}

.title_main p{
  @include text_secondary;
  margin-bottom: 1.5rem;
}

.btn {
  align-self: flex-start;
  @include text_secondary;
  background-color: var(--color-cta);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

// Categories section
.section_categories{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 4rem;
}

.section_title{
  @include text_header_info;
  align-self: center;
  margin-bottom: 2rem;
}

.categories{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col img{
  width: 250px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.col h5{
  font-size: 1.125rem;
  color: #1F2937;
}

// Quote section
.section_quote{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-quote-background);
  width: 100%;
  height: 13rem;
  margin-bottom: 4rem;
}

.section_quote div{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.quote_text{
  @include text_quote;
  text-align: center;
  padding-bottom: 1rem;
}
.author{
  color: #1F2937;
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-end;
}

// Section call to action
.section_cta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--color-cta);
  width: 80%;
  height: 10rem;
  border-radius: 15px;
  margin-bottom: 4rem;
  color: #E5E7EB;
  padding: 0 3rem;
}

.text_cta h5{
  font-size: 2.25rem;
  padding-bottom: 0.5rem;
}

.btn.cta{
  align-self: center;
  border: 1px solid #E5E7EB;
}

// Footer
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--color-background-dark);
  color: #E5E7EB;
}
