:root {
  --color-background-dark: #1F2937; /* Hero and footer*/
  --color-cta: #3882F6; /* Button color, call to action background color */
  --color-quote-background: rgb(206, 210, 216); /* Quote section background color */
} 