:root {
  --color-background-dark: #1F2937; /* Hero and footer*/
  --color-cta: #3882F6; /* Button color, call to action background color */
  --color-quote-background: #E5E7EB; /* Quote section background color */
}