:root {
  --text-hero: 48px 900 #F9FAF8; /* Hero main text */
  --text-secondary: 18px #E5E7EB; /* Hero secondary text, Header link text */
  --text-logo: 24px #F9FAF8; /* Header Logo text */
  --text-header-info: 36x 900 #1F2937; /* Information header text */
  --text-quote: 36px light italic #1F2937; /* Quote text */
}